/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Large devices (Desktops, 1200px and down) */
@media (max-width: 1200px) {
  .main-nav li {
    margin-left: 20px;
  }
  .main-slider h1 {
    font-size: 70px;
    letter-spacing: normal;
  }
  .main-slider .slider-contents {
    bottom: 150px;
    height: auto;
  }
  .team-wrap .team-carousel .class {
    text-align: center;
  }
  .team-wrap .team-carousel .class img {
    display: inline-block;
  }
  .bmi-wrap .bmi-img {
    margin-right: 20px;
  }
  .bmi-wrap .bmi-calculator {
    width: 350px;
    padding: 20px;
    margin-right: 20px;
  }
  .bmi-wrap .bmi-details {
    width: 275px;
  }
  .main-slider-two .slider-contents {
    top: auto;
    bottom: 180px;
  }
  .bmi-wrap.shapes-section .bmi-img-two {
    max-width: 280px;
    margin-bottom: 50px;
  }
  .events-page .event-post .entry-footer .price {
    width: 40%;
  }
  .events-page .event-post .entry-footer .sign-up {
    width: 60%;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) {
  #header .container {
    position: relative;
  }
  #header .container .mobile-menu {
    position: absolute;
    right: 15px;
  }
  #header .container .logo {
    width: 100%;
    text-align: center;
  }
  .slicknav_menu {
    position: relative;
    top: 25px;
    float: right;
    padding: 0;
    font-size: 16px;
    background: transparent;
  }
  .slicknav_menu .slicknav_btn {
    float: right;
    margin: 0;
    padding: 15px;
    border-radius: 0;
    background-color: #4c4c4c;
  }
  .slicknav_menu .slicknav_nav {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9999;
    min-width: 280px;
    background: #4c4c4c;
  }
  .slicknav_menu .slicknav_nav .slicknav_row {
    padding: 10px 15px;
  }
  .slicknav_menu .slicknav_nav .slicknav_row,
  .slicknav_menu .slicknav_nav a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
  .slicknav_menu .slicknav_nav .slicknav_row:focus,
  .slicknav_menu .slicknav_nav a:focus {
    outline: none;
  }
  .slicknav_menu .slicknav_nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .slicknav_menu .slicknav_nav a:hover,
  .slicknav_menu .slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: #424242;
    color: #fff;
  }
  .slicknav_menu .sub-menu {
    background: transparent;
  }
  .slicknav_menu .slicknav_icon-bar {
    box-shadow: none;
  }
  .main-slider h1 {
    font-size: 50px;
    letter-spacing: normal;
  }
  .main-slider .slider-contents {
    bottom: 100px;
    height: auto;
  }
  .main-slider .slick-dots {
    display: none !important;
  }
  .main-slider .slider-contents-wrap {
    background: none;
  }
  .main-slider .slick-arrow {
    display: none !important;
  }
  .features {
    margin: 40px 0 0 0;
  }
  .features .feature {
    width: 32%;
    margin-left: 2%;
    margin-bottom: 40px;
  }
  .classes .class .title {
    padding: 10px;
    font-size: 16px;
  }
  .classes .classes-carousel-wrap .slick-arrow {
    display: none !important;
  }
  .videos-wrap {
    padding: 30px 0;
  }
  .videos-wrap h2 {
    margin-bottom: 30px;
  }
  .videos-wrap .slick-arrow {
    display: none !important;
  }
  .videos-wrap iframe {
    min-height: 400px;
  }
  .bmi-wrap .bmi-calculator {
    width: 250px;
  }
  .bmi-wrap .bmi-calculator h3 {
    font-size: 20px;
  }
  .bmi-wrap .bmi-details {
    width: 170px;
  }
  .bmi-wrap .bmi-details .results {
    font-size: 30px;
  }
  .bmi-wrap .bmi-details h3 {
    font-size: 20px;
  }
  .slider-training-wrap {
    display: none;
  }
  .bg-header .bg-head-title {
    font-size: 30px;
  }
  .bmi-wrap.shapes-section .bmi-img-two {
    max-width: 270px;
    margin-bottom: 100px;
  }
  .home-news-articles-2 {
    padding: 30px 0;
  }
  .home-news-articles-2 .section-header,
  .home-news-articles-2 .home-news-bg {
    margin-bottom: 30px;
  }
  .our-statistics,
  .customer-review {
    padding: 30px 0;
  }
  .our-statistics .section-header,
  .customer-review .section-header {
    margin-bottom: 30px;
  }
  .customer-count {
    padding: 30px 0;
  }
  .class-overlay .entry-contents {
    padding: 10px;
  }
  .class-overlay h4,
  .class-overlay p {
    margin-bottom: 10px;
  }
  .class-overlay p {
    line-height: 20px;
  }
  .blog-page .post {
    margin-right: 0;
    margin-left: 0;
  }
  .blog-page .post .feature-img {
    margin-left: 0;
    margin-right: 0;
  }
  .gallery-videos .entry-contents {
    margin-top: 30px;
  }
  .about-training {
    padding: 30px 0;
  }
  .about-training .section-header {
    margin-bottom: 30px;
  }
  .contact-page .contact-details {
    margin: 30px 0;
  }
  .comingsoon-page .clock-item:nth-of-type(4) {
    height: 0;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .main-slider h1 {
    font-size: 30px;
  }
  .main-slider .slider-contents {
    bottom: 15px;
  }
  .classes .classes-wrap {
    padding: 30px 0;
  }
  .classes .classes-wrap .section-title {
    margin-bottom: 30px;
  }
  .classes .classes-carousel-wrap {
    margin-bottom: 30px;
  }
  .videos-wrap iframe {
    min-height: 300px;
  }
  .home-news-articles .contents {
    margin: 20px 0;
  }
  .home-news-articles .feature-img {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .home-news-articles .entry-contents {
    margin-bottom: 20px;
  }
  .home-news-articles .home-news-bg {
    padding: 30px 0;
  }
  .home-news-articles .post,
  .home-news-articles .section-title {
    margin-bottom: 30px;
  }
  .gallery-wrap .gallery {
    margin-left: 20px;
  }
  .gallery-wrap h4,
  .gallery-wrap small {
    margin-left: 10px;
    margin-right: 10px;
  }
  .gallery-wrap {
    margin: 30px 0;
  }
  .gallery-wrap .section-header,
  .gallery-wrap .section-header h2,
  .team-wrap .team-carousel-wrap {
    margin-bottom: 30px;
  }
  .bmi-wrap .bmi-img {
    display: none;
  }
  .bmi-wrap .bmi-calculator {
    width: 48%;
    margin-right: 2%;
  }
  .bmi-wrap .bmi-details {
    width: 50%;
  }
  .bmi-wrap {
    margin: 30px 0;
  }
  #footer .footer-wrapper {
    padding: 30px 0;
  }
  .bg-header .bg-head-title {
    font-size: 24px;
  }
  .bmi-wrap.shapes-section .bmi-calculator {
    margin: 30px 2% 30px 0;
  }
  .bmi-wrap.shapes-section .bmi-details {
    margin-top: 40px;
  }
  .border-title,
  .customer-count h2.title {
    font-size: 30px;
  }
  .events-page .event-post .feature-img-wrap,
  .events-page .event-post {
    margin-bottom: 30px;
  }
  .contact-page .contact-details p {
    margin-bottom: 10px;
  }
  #footer .footer-nav {
    margin-bottom: 15px;
  }
  #footer .footer-nav li {
    margin-right: 15px;
    float: none;
    display: inline-block;
  }
  #footer .copyright {
    text-align: center;
  }
  .training-details-page .details-wrapper {
    background: none;
  }
  .banner h1 {
    font-size: 40px;
  }
  .comingsoon-page .clock-item:nth-of-type(3) {
    height: 0;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  .features {
    margin-top: 30px;
  }
  .features .feature {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 30px;
  }
  .features .feature:nth-child(odd) {
    margin-left: 0;
  }
  .border-title i {
    display: none;
  }
  .border-title span {
    width: 100% !important;
  }
  .section-title {
    font-size: 28px;
  }
  #footer .footer-meta .same {
    width: 50%;
  }
  .bg-header .bg-head-title {
    font-size: 16px;
  }
  .home-news-articles-2 .contents {
    padding: 15px;
  }
  .border-title {
    font-size: 26px;
  }
  .blog-page .post .entry-title {
    font-size: 24px;
  }
  .blog-page .bg-header {
    margin-bottom: 0;
  }
  #comments-section article > .comment-wrap {
    width: 100%;
    margin-left: 0;
  }
  .gallery-page .bg-header {
    margin-bottom: 0;
  }
  #signup-form {
    background: none;
    padding: 30px 0;
  }
  #signup-form label {
    width: 100%;
    display: inline-block;
    text-align: left;
  }
  #signup-form input[type="submit"] {
    margin-left: 0;
  }
  .contact-page #map {
    height: 300px;
    margin-bottom: 30px;
  }
  .contact-page .map-3d-view .section-header {
    margin-bottom: 30px;
  }
  .comment-meta h5.author {
    float: none;
  }
  .fitness-accordion {
    margin-top: 15px;
  }
}
@media (max-width: 550px) {
  .training-details-page .mobile-view-details {
    background: none;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .features {
    margin-top: 30px;
  }
  .features .feature {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .videos-wrap h2 {
    font-size: 28px;
  }
  .section-title {
    font-size: 28px;
  }
  .bmi-wrap .bmi-calculator {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
  }
  .bmi-wrap .bmi-details {
    width: 100%;
    margin-top: 30px;
  }
  .bmi-wrap .btn {
    padding: 17px;
  }
  .home-news-articles h4 {
    font-size: 20px;
  }
  .home-news-articles p {
    line-height: 24px;
  }
  .banner h1 {
    font-size: 40px;
  }
}
