.videos-wrap {
  padding: 119px 0;
  background: #fff;
}
.videos-wrap iframe {
  width: 100%;
  min-height: 700px;
  border: 0;
}
.videos-wrap .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  margin-top: -35px;
}
.videos-wrap .fa-angle-left {
  left: 7%;
}
.videos-wrap .fa-angle-right {
  right: 7%;
}
.videos-wrap h2 {
  margin-bottom: 65px;
}
.videos-var-two {
  padding: 0 0 85px 0;
}
.videos-var-two .btn {
  float: right;
  margin-top: 40px;
}
.videos-slider-wrapper {
  position: relative;
}
